li {
  width: 30%;
  margin: 0.5em;
  margin-bottom: 0;
}

button {
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
}

.header {
  width: 18.75em;
  display: flex;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
  list-style: none;
  padding: 0.5em;
}

.button {
  width: 1.5em;
  background-color: white;
  color: black;
}
.on {
  display: flex;
  flex-direction: column;
}

.off {
  display: none;
}

.divToggle {
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;

  background-color: grey;
  outline: none;
  border: 0;
}

.li_wrap {
  display: flex;
  margin-bottom: 0.5em;
}
