li {
  width: 30%;
  margin: 0.5em;
  margin-bottom: 0;
}

.header {
  width: 18.75em;
  display: flex;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
  list-style: none;
}

.button {
  width: 1.5em;
}
.on {
  display: flex;
  flex-direction: column;
}

.off {
  display: none;
}

.divToggle {
  position: absolute;
  top: 3.5%;
  left: 0;
  width: 100%;
  color: white;
  background-color: grey;
  outline: none;
  border: 0;
}

.li_wrap {
  display: flex;
  margin-bottom: 0.5em;
}
