.style {
  height: 100%;
  width: 18.75em;
}

.result {
  width: 100%;
  height: 60%;
  border: 1px solid grey;
  border-left: none;
  padding: 0.5em;
  cursor: default;
}

.result:focus {
  outline: none;
}
