* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  height: 100%;
  width: max-content;
}

.position {
  position: relative;
}
